.container {
    max-width: 1175px;
    margin: 0 auto;
    padding: 0px 10px;
}
h1,h2,h3,h4{
    color: $color-red;
}
p{
    color: $color-white;
}
body{
    color: $color-white;
}
.btn-wrapper{
    display: flex;
    justify-content: center;
}
.btn {
    background-color: transparent;
    padding: 17px 85px;
    border: 4px solid $color-yellow;
    border-radius: 60px;
    font-family: $font-h;
    font-size: $btn-text;
    color: $color-white;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: 4px;
}
// <div class="btn-wrapper -btn">
//     <button class="btn -button">Записатись</button>
// </div>